# Homework Assignment 9 - Bryce Dean & Evan Callaghan

In [1]:
## 1. a) Using pandas to read the csv file and create a data-frame called teams

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

teams = pd.read_csv('Teams.csv')
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [2]:
## b) Subsetting the data to only include:
## G, W, L, R, RA, teamID, yearID, and lgID

my_teams = teams[['teamID', 'yearID', 'lgID', 'G', 'W', 'L', 'R', 'RA']]
my_teams.head()

  teamID  yearID lgID   G   W   L    R   RA
0    BS1    1871  NaN  31  20  10  401  303
1    CH1    1871  NaN  28  19   9  302  241
2    CL1    1871  NaN  29  10  19  249  341
3    FW1    1871  NaN  19   7  12  137  243
4    NY2    1871  NaN  33  16  17  302  313

In [3]:
## c) Computing the runs differential and winning percentage 

my_teams['RD'] = my_teams['R'] - my_teams['RA']
my_teams['Wpct'] = my_teams['W'] / (my_teams['W'] + my_teams['L'])

<ipython-input-3-093563b16183>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_teams['RD'] = my_teams['R'] - my_teams['RA']
<ipython-input-3-093563b16183>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_teams['Wpct'] = my_teams['W'] / (my_teams['W'] + my_teams['L'])

In [4]:
## d) Refitting the linear model in which RD is the predictor variable and Wpct is the target
## variable for the seasons 1961-1970, the seasons 1971-1980, the seasons 1981-1990, the
## seasons 1991-2000, and the seasons 2001-2010.

## 60's
my_teams_60s = my_teams[(my_teams['yearID'] > 1960) & (my_teams['yearID'] <= 1970)]
lm_md_60 = smf.ols(formula = 'Wpct ~ RD', data = my_teams_60s).fit()

## 70's
my_teams_70s = my_teams[(my_teams['yearID'] > 1970) & (my_teams['yearID'] <= 1980)]
lm_md_70 = smf.ols(formula = 'Wpct ~ RD', data = my_teams_70s).fit()

## 80's
my_teams_80s = my_teams[(my_teams['yearID'] > 1980) & (my_teams['yearID'] <= 1990)]
lm_md_80 = smf.ols(formula = 'Wpct ~ RD', data = my_teams_80s).fit()

## 90's
my_teams_90s = my_teams[(my_teams['yearID'] > 1990) & (my_teams['yearID'] <= 2000)]
lm_md_90 = smf.ols(formula = 'Wpct ~ RD', data = my_teams_90s).fit()

## 00's
my_teams_00s = my_teams[(my_teams['yearID'] > 2000) & (my_teams['yearID'] <= 2010)]
lm_md_00 = smf.ols(formula = 'Wpct ~ RD', data = my_teams_00s).fit()

In [5]:
## e) Comparing across the five decades the predicted winning percentage for a team with a run differential of 10 runs

## Defining a new data point
new_data = pd.DataFrame({'RD': [10]})

## Defining a list of models
models = [lm_md_60, lm_md_70, lm_md_80, lm_md_90, lm_md_00]
model_numbers = ["60's", "70's", "80's", "90's", "00's"]

for i in range(0, len(models)):
    print(model_numbers[i], 'Wpct Model for a team with RD = 10:', round(models[i].predict(new_data)[0] * 100, 3), '%')


## Between the decades, the values for winning percentage are changing very slightly. The maximum is in the 60's,
## where a team with RD = 10 is expected to win about 50.7% of games played. The minimum is in the 2000's, where
## a team with RD = 10 is expected to win about 50.62% of games played.

60's Wpct Model for a team with RD = 10: 50.697 %
70's Wpct Model for a team with RD = 10: 50.636 %
80's Wpct Model for a team with RD = 10: 50.696 %
90's Wpct Model for a team with RD = 10: 50.628 %
00's Wpct Model for a team with RD = 10: 50.621 %